/*Globales*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700;900&family=Lobster+Two:wght@400&display=swap");
:root {
  --principal: #088178;
  --principal-dark: #06615b;
  --principal-light: #5ee4db;
  --negro: #000;
  --negroAlternativo: #222;
  --blanco: #fff;
  --blancoAlternativo: #f1f1f1;
  --gris: #686767;
  --gris-oscuro: #3d3d3d;
  --fuentePrincipal: "Spartan", sans-serif;
  --fuenteSecundaria: "Lobster Two", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuentePrincipal);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: var(--principal);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:active {
  background-color: var(--principal-dark);
}
body::-webkit-scrollbar-track {
  border-radius: 4px;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
  color: var(--negroAlternativo);
}
h2 {
  font-size: 3.6rem;
  line-height: 4rem;
  color: var(--negroAlternativo);
}
h4 {
  font-size: 1.8rem;
  color: var(--negroAlternativo);
}
h6 {
  font-size: 1.6rem;
  font-weight: 700;
}
p {
  margin: 1.5rem 0 2rem 0;
  color: var(--gris-oscuro);
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: none;
}
[class*="contenedor"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

/*!Header*/
.header {
  position: sticky;
  top: 0;
  right: 0;
  height: 7rem;
  background-color: var(--blanco);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 9999;
}
.header__contenedor {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__texto {
  position: relative;
  font-family: var(--fuenteSecundaria);
  font-size: 4rem;
  font-weight: 400;
  color: var(--negro);
}
.logo__texto::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -45px;
  width: 4rem;
  height: 4rem;
  display: block;
  background-image: url(img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__toogle-input {
  display: none;
}
.nav__toogle {
  cursor: pointer;
  color: var(--negroAlternativo);
  font-size: 3rem;
}
.nav__toogle:hover {
  color: var(--principal);
}

.nav__menu {
  position: absolute;
  list-style: none;
  background-color: var(--blanco);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  top: 70px;
  right: 0;
  width: 75vw;
  height: calc(100vh - 7rem);
  z-index: 999;
  display: flex;
  transform: scale(0);
  transition: transform 0.3s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
}
@media (min-width: 768px) {
  .nav__menu {
    width: 50vw;
  }
}
.nav__li {
  /* width: 100%; */
  padding: 0 20px;
  position: relative;
}
.nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--negro);
  font-weight: 700;
  transition: 0.3s ease;
}
.nav__link:hover,
.nav__link.nav__link--active {
  color: var(--principal);
}
.nav__link.nav__link--active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--principal);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.nav__toogle-input:checked + .nav__menu {
  transform: scale(1);
}
@media (min-width: 992px) {
  .nav__toogle {
    display: none;
  }

  .nav__menu {
    position: static;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 7rem;
    box-shadow: unset;
    gap: 0;
    transform: scale(1);
  }
  .nav__li {
    width: max-content;
    padding: 0 20px;
  }
  .nav__link {
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--negro);
  }
}
/*!Hero*/
.hero {
  background-image: url(img/hero.webp);
  height: calc(100vh - 7rem);
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__heading {
  padding-bottom: 1.2rem;
}
.hero__heading-3 {
  color: var(--principal);
}
.hero__button {
  padding: 1.4rem 6rem;
  font-weight: 700;
  color: var(--principal);
  background-color: transparent;
  border: 1px solid var(--negroAlternativo);
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
}
.hero__button:hover {
  background-color: var(--principal);
  color: var(--blanco);
  border: 1px solid transparent;
}

@media (min-width: 992px) {
  .hero__heading {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  .hero__heading-2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
  }
  .hero__heading-3 {
    font-size: 5rem;
    line-height: 6.4rem;
    color: var(--principal);
  }
  .hero__button {
    padding: 1.4rem 8rem;
    font-weight: 700;
    /* font-size: 2.4rem; */
    color: var(--principal);
    border: 1px solid var(--negroAlternativo);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .hero__button:hover {
    background-color: var(--principal);
    color: var(--blanco);
  }
}

@media (min-width: 1600px) {
  .hero {
    height: calc(65vh - 7rem);
    background-size: cover;
    background-position: 50%;
  }
}
/*! seccion de iconos*/
.contenedor {
  margin-block: 5rem;
}
.iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .iconos {
    flex-direction: row;
  }
}
.icono {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .icono {
    height: 25rem;
    width: 33%;
  }
}
.icono__i {
  font-size: 4rem;
  text-align: center;
  transition: 0.4s ease;
}
.icono:hover .icono__i {
  color: var(--principal);
}
.icono__titulo {
  text-align: center;
}
.icono__texto {
  margin: 0;
}
/*! seccion productos destacados*/

.productos-destacados {
  margin-block: 5rem;
}
.productos-destacados__titulo {
  font-size: 2.4rem;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 4rem;
}
.productos-destacados__titulo::after {
  content: "";
  width: 20%;
  height: 2px;
  background: var(--principal);
  display: block;
  margin: 1rem auto 0 auto;
}
@media (min-width: 768px) {
  .productos-destacados__titulo {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.productos-destacados__grid {
  display: grid;
  gap: 2rem;
  align-content: center;
}
@media (min-width: 768px) {
  .productos-destacados__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .productos-destacados__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.producto {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  .producto {
    margin: 0;
  }
}
.producto__box-img {
  margin: 0;
  width: 100%;
  height: 20rem;
}
.producto__img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  transition: transform 0.3s ease-out;
}
.producto__img:hover {
  transform: scale(1.1);
}
.producto__contenido {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.producto__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gris);
}
.producto__color {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gris);
}
.producto__comprar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 2rem;
}
.precios {
  display: flex;
  flex-direction: column;
}
.precios__normal {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gris);
  text-decoration: line-through;
}
.precios__descuento {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--negroAlternativo);
}
.carrito__icono {
  color: var(--principal);
  font-size: 2rem;
}
.carrito__icono:hover {
  color: var(--principal-dark);
}
.producto__btn {
  width: 60%;
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blanco);
  background-color: var(--principal);
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.producto__btn:hover {
  color: var(--blanco);
  background-color: var(--principal-dark);
}

/*!Seccion galeria*/
.galeria__titulo {
  font-size: 2.4rem;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 4rem;
}
.galeria__titulo::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--principal);
  display: block;
  margin: 1rem auto 0 auto;
}
.galeria__titulo--enlace {
  text-decoration: none;
  color: var(--principal);
}
@media (min-width: 768px) {
  .galeria__titulo {
    font-size: 3.2rem;
  }
}
.galeria__contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
@media (min-width: 992px) {
  .galeria__contenedor {
    grid-template-columns: repeat(8, 1fr);
  }
}
.galeria__imagen {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box:target {
  transform: scale(1);
}

.light-box__imagen {
  width: 75vw;
  height: 75vh;
  object-fit: contain;
}

.close {
  position: absolute;
  font-weight: 700;
  top: 20px;
  right: 20px;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  background: var(--negro);
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.arrow {
  display: block;
  width: 3rem;
  height: 3rem;
  background: var(--negro);
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 1600px) {
  .close,
  .arrow {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
  }
}

/*!Slider de resñas*/

.slider {
  margin-block: 5rem;
  height: auto;
  overflow: hidden;
}
.slider__titulo {
  font-size: 2.4rem;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 4rem;
}
.slider__titulo::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--principal);
  display: block;
  margin: 1rem auto 0 auto;
}
@media (min-width: 768px) {
  .slider__titulo {
    font-size: 3.2rem;
  }
}
.slider__track {
  display: flex;
  gap: 2rem;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(30rem * 10);
}

.opinion {
  background-color: var(--blancoAlternativo);
  color: var(--negro);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 30rem;
  height: 50rem;
}

.opinion__header {
  display: flex;
  width: 100%;
  height: 10rem;
  gap: 2rem;
  align-items: center;
}
.opinion__imagen {
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.opinion__autor {
  font-weight: 700;
  margin: 0.5rem 0;
}
.opinion__calificacion {
  color: var(--principal);
}
.opinion__texto {
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
  line-height: 1.5;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
  position: relative;
}
.opinion__texto::before {
  content: ' " ';
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 8rem;
  position: absolute;
  left: 0;
  top: -4rem;
  opacity: 0.2;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-30rem * 5));
    transform: translateX(calc(-30rem * 5));
  }
}
/*!Newsletter seccion*/

.newsletter {
  padding-block: 5rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.897) 0,
      rgba(0, 0, 0, 0.986)
    ),
    url(img/nike-5126389_1920.webp);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: 5rem; */
}
.newsletter__contenedor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .newsletter__contenedor {
    flex-direction: row;
  }
}
.newsletter__form {
  width: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .newsletter__form {
    width: 35rem;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
  }
}

.newsletter__div {
  position: relative;
  width: 100%;
}
.newsletter__input {
  background: none;
  color: var(--blanco);
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--blancoAlternativo);
}
.newsletter__input:focus {
  outline: none;
  color: var(--blancoAlternativo);
}
.newsletter__label {
  color: var(--blancoAlternativo);
  position: absolute;
  top: 10px;
  left: 5px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}
.newsletter__input:focus ~ .newsletter__label,
.newsletter__input:valid ~ .newsletter__label {
  top: -14px;
  font-size: 1.4rem;
  color: var(--principal);
}
.newsletter__barra {
  position: relative;
  display: block;
  width: 100%;
}
.newsletter__barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background-color: var(--principal);
  transition: 0.5s ease width;
  left: 0;
}
.newsletter__input:focus ~ .newsletter__barra::before {
  width: 100%;
}
.newsletter__button {
  padding: 0 2rem;
  border: none;
  outline: none;
  color: var(--blanco);
  background-color: var(--principal);
  transition: 0.3s all ease;
  cursor: pointer;
}
@media (min-width: 576px) {
  .newsletter__button {
    padding: 0 8rem;
  }
}
@media (min-width: 768px) {
  .newsletter__button {
    padding: 1rem;
  }
}
.newsletter__button:hover {
  background-color: var(--principal-dark);
}
.newsletter__h3 {
  color: var(--blanco);
  font-size: 2.4rem;
}
.newsletter__p {
  color: var(--blancoAlternativo);
  margin-bottom: 0;
}
/*!Footer*/
.footer {
  background-color: #000;
  padding-top: 5rem;
}
.footer__contenedor {
  display: grid;
  gap: 2rem;
}
@media (min-width: 576px) {
  .footer__contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .footer__contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__contacto,
.footer__cuenta,
.footer__acerca,
.footer__redes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.logo__texto--blanco {
  color: var(--blanco);
}
.logo__texto--blanco::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -45px;
  width: 4rem;
  height: 4rem;
  display: block;
  background-image: url(img/logo-blanco.svg);
  filter: invert(100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__h3 {
  color: var(--blancoAlternativo);
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.footer__h3::after {
  content: "";
  width: 12%;
  height: 2px;
  background: var(--principal);
  position: absolute;
  bottom: -4px;
  left: 0px;
}
.footer__p {
  color: var(--gris);
  margin: 0;
  line-height: 1.9;
}
.footer__span {
  font-weight: 700;
}
.footer__p--enlace {
  text-decoration: none;
  transition: 0.3s ease all;
}
.footer__p--enlace:hover {
  color: var(--principal);
}
.footer__redes-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer__redes-link {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.footer__redes-link:hover {
  color: var(--principal);
}
.footer__final {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}
.footer__autor {
  text-decoration: none;
  color: var(--principal);
}
/***********************!Pagina de tienda ***************************************/
.hero-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.8)
    ),
    url(img/mackenzie-marco-XG88BYDSDZA-unsplash.webp);
  height: 25vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-2__heading {
  font-size: 2.4rem;
  color: var(--blanco);
}
@media (min-width: 768px) {
  .hero-2__heading {
    font-size: 3.2rem;
  }
}
.hero-2__p {
  color: var(--blancoAlternativo);
  margin: 0;
}
.main__contenedor {
  display: grid;
  margin-block: 5rem;
}
@media (min-width: 992px) {
  .main__contenedor {
    grid-template-columns: 1fr 3fr;
  }
}
.filtros {
  margin-bottom: 5rem;
}
.filtros__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 992px) {
  .filtros__form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
.filtros__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .filtros__div {
    width: 70%;
  }
}
.filtros__select {
  border: 1px solid var(--principal);
  outline: none;
  padding: 0.5rem;
  text-align: center;
  background: none;
  cursor: pointer;
  font-size: 1.4rem;
}
.filtros__label {
  font-weight: 700;
  color: var(--negroAlternativo);
}
.filtros__option {
  background-color: var(--principal-light);
  font-size: 1.4rem;
  color: var(--gris-oscuro);
}
