@use "base/variables" as v;
@use "base/mixins" as m;

.cart {
  z-index: -1000;
  width: 100%;
  height: max-content;
  position: absolute;
  overflow-y: scroll;
  top: 70px;
  background-color: v.$white;
  padding: 1.5rem;
  transform: translate(0, -130%);
  transition: transform 0.5s ease-out;
  @include m.tablet {
    right: 0%;
    max-width: 45rem;
    height: max-content;
    border-bottom-left-radius: 1.5rem;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: v.$primaryColor;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: v.$white;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  &__active {
    transform: translate(0, 0);
  }
  &__heading {
    font-weight: 500;
    font-size: 2.4rem;
    color: v.$dark;
    display: block;
    padding-bottom: 2rem;
    border-bottom: 1px solid v.$lightGray;
  }
  &__main {
    overflow-y: scroll;
    height: 23rem;
    margin: 1rem 0 0 0;
    padding: 2rem 0.5rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: v.$primaryColor;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: v.$white;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1rem 0;
    border-top: 1px solid v.$lightGray;
  }
  &__total-span {
    line-height: 1;
    font-weight: 700;
    font-size: 2rem;
  }
  &__total-p {
    line-height: 1;
    font-size: 2rem;
  }
}

/* Clase para cerrar o abrrir el carrito  */

.cart-open {
  border: none;
  background-color: v.$white;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  &__icon {
    font-size: 2.5rem;
    color: v.$primaryColor;
  }
}
.cart-close {
  border: none;
  background-color: v.$white;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  &__icon {
    font-size: 2.5rem;
    color: v.$primaryColor;
  }
}
.btn-contain {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  &__btn {
    @include m.button(
      v.$primaryColor,
      darken(v.$primaryColor, 5%),
      1.6rem,
      v.$white,
      v.$white,
      max-content
    );
  }
}
.cart-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid v.$lightGray;
  border-radius: 0.5rem;
  @include m.mobile {
    flex-direction: row;
    justify-content: space-between;
  }
  &__main {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__img {
    width: 10rem;
    object-fit: contain;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5rem;
  }
  &__name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  &__size {
    font-weight: 700;
    color: v.$darkGray;
    font-size: 1.2rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__discount {
    background-color: lighten(v.$primaryColor, 10%);
    padding: 0.5rem;
    width: max-content;
    border-radius: 0.5rem;
    color: v.$white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__button {
    padding: 0.5rem 1rem;
    background-color: v.$primaryColor;
    color: v.$white;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
