@use "base/variables" as v;
@use "base/mixins" as m;

.favs {
  z-index: -1000;
  width: 100%;
  height: max-content;
  position: absolute;
  overflow-y: scroll;
  top: 70px;
  background-color: v.$white;
  padding: 1.5rem;
  transform: translate(0, -130%);
  transition: transform 0.5s ease-out;
  @include m.tablet {
    right: 0%;
    max-width: 45rem;
    height: max-content;
    border-bottom-left-radius: 1.5rem;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: v.$primaryColor;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: v.$white;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  &__active {
    transform: translate(0, 0);
  }
  &__heading {
    font-weight: 500;
    font-size: 2.4rem;
    color: v.$dark;
    display: block;
    padding-bottom: 2rem;
    border-bottom: 1px solid v.$lightGray;
  }
  &__main {
    overflow-y: scroll;
    height: 30rem;
    margin: 1rem 0 0 0;
    padding: 2rem 0.5rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: v.$primaryColor;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: v.$white;
    }
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
  }
}

/* Clase para cerrar o abrrir el carrito  */

.favs-open {
  position: relative;
  border: none;
  background-color: v.$white;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  &__icon {
    font-size: 2.5rem;
    color: v.$primaryColor;
  }
}
.favs-close {
  border: none;
  background-color: v.$white;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  &__icon {
    font-size: 2.5rem;
    color: v.$primaryColor;
  }
}
.fav-icon {
  color: v.$primaryColor;
}
.favs-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid v.$lightGray;
  border-radius: 0.5rem;
  @include m.mobile {
  }
  &__link {
    width: 100%;
  }
  &__main {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__img {
    width: 7rem;
    object-fit: contain;
    @include m.tablet {
      width: 10rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5rem;
  }
  &__name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  &__size {
    font-weight: 700;
    color: v.$darkGray;
    font-size: 1.2rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__discount {
    background-color: lighten(v.$primaryColor, 10%);
    padding: 0.5rem;
    width: max-content;
    border-radius: 0.5rem;
    color: v.$white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-height: 1.6rem;
  }
  &__icon {
    cursor: pointer;
  }
}
