.layout {
  background-image: linear-gradient(to left, #000000c5, #000000a1),
    url(../img/bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
