@use "base/variables.scss" as v;
@use "base/mixins" as m;

.offers {
  margin-block: 5rem;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid v.$lightGray;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-out;
  width: 30rem;
  height: max-content;
  flex: 1 1 20rem;
  &:hover {
    transform: scale(102%);
  }
  &__img-box {
    min-width: 20rem;
  }
  &__img {
    object-fit: contain;
    height: 20rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    font-weight: 600;
    color: v.$dark;
  }
  &__price {
    font-size: 2rem;
    font-weight: 700;
    color: v.$dark;
  }
  &__old-price {
    text-decoration: line-through;
    color: v.$gray;
  }
  &__span {
    background-color: lighten(v.$primaryColor, 10%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: v.$white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__icon {
    align-self: flex-end;
    cursor: pointer;
  }
}
